/* .header {
  height: 34vw;
  margin: 30px auto;
  background: url("/header_img.png") no-repeat;
  background-position: center;
  background-size: contain;

  position: relative;
}
.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1vw;
  max-width: 40%;
  bottom: 7%;
  left: 14vw;
  animation: fadeIn 3s;
}
.header-contents h2 {
  font-size: max(4.5vw, 22px);
  color: white;
  background-color: red;

  font-weight: 500;
}
.header-contents p {
  color: white;
  font-size: 1vw;
} */
.header-contents {
  animation: fadeIn 3s;
}
@media (max-width: 1050px) {
  .header {
    height: 38vw;
  }
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 55%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}
