.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0px;
  overflow-x: scroll;
}
.explore-menu-list::-webkit-scrollbar {
  display: none;
}
.explore-menu hr {
  margin: 10px 0px;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}

.explore-menu-list-item .active {
  border: 4px solid tomato;
  padding: 2px;
  border-radius: 50%;
}
